/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@use 'normalize.css';

/* Tailwind CSS imports */
@use "./tailwind.scss";

/* PrimeNG imports */
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";

/* Your custom global styles */

:root {
  --body-bg: var(--p-surface-0);
  --body-text-color: var(--p-surface-900);
  --border-color: var(--p-surface-200);
  --card-bg: var(--p-surface-0);
  --card-border: 1px solid var(--border-color);
  --font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --overlay-background: #ffffff;
  --text-color: var(--p-surface-700);
}

:root[class='p-dark'] {
  --body-bg: var(--p-surface-950);
  --body-text-color: var(--p-surface-50);
  --card-border: 1px solid transparent;
  --card-bg: var(--p-surface-900);
  --border-color: rgba(255, 255, 255, 0.1);
  --text-color: var(--p-surface-0);
  --overlay-background: var(--p-surface-900);
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: var(--font-family);
}

body {
  min-height: 100%;
  // overflow-x: hidden;
  // overflow-y: auto;
  background-color: var(--body-bg);
  color: var(--body-text-color);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

app-root {
  display: contents;
}